<nav>
  <a routerLink="/casino">Lobby</a>
</nav>
<div class="table">
  <div class="control">
    <div *ngIf="!showResult">
      <div class="deck" (click)="hitMe()">Hit Me!</div>
      <div class="stay" (click)="stay()">Stay</div>
      <!--<div class="back" (click)="goBack()">Lobby!</div>-->
    </div>

    <div *ngIf="showResult" class="result">
      <h3>Result:</h3>
      <p style='white-space: pre;'>{{ gameResult }}</p>
      <div class="restart-stop" (click)="restart()">Restart</div>
    </div>
  </div>
  <div class="bank-hand">
    <app-blackjackhand [hand]="bank"></app-blackjackhand>
  </div>
  <div class="player-hand">
    <app-blackjackhand [hand]="player"></app-blackjackhand>
  </div>
  <div class='bet'>
    <h3>Player wallet:</h3>
    <p>{{ playerWallet }}</p>
    <h3>Current bet:</h3>
    <p>{{ betAmount }}</p>
    <div *ngIf='canBet' class='add-to-bet' (click)='addToBet()'>Bet $100</div>
    <div *ngIf='canBet' class='bet-all' (click)='betAll()'>All in!!!</div>
  </div>
</div>
